<%= turbo_frame_tag nested_dom_id(list_section.todo_list, list_section) do %>

  <h3><%= list_section.title %></h3>

  <div>
    <%= button_to "Delete",
      [list_section.todo_list, list_section],
      method: :delete,
      class: "btn btn--light" %>
    <%= link_to "Edit",
      edit_todo_list_list_section_path(list_section.todo_list, list_section),
      class: "btn btn--light" %>

    <%= turbo_frame_tag nested_dom_id(list_section.todo_list, list_section, Task.new) do %>
      <%= render partial: "tasks/new_task_link", locals: { list_section: list_section } %>
    <% end %>
  </div>

  <ul>
    <div style="padding-left: 2em;">
      <%= turbo_frame_tag nested_dom_id(list_section.todo_list, list_section, "tasks") do %>
        <%= render list_section.tasks %>
      <% end %>
    </div>
  </ul>

<% end %>
<%= turbo_stream_from "tasks" %>
