<%= simple_form_for todo_list_template, html: { class: "w-full max-w-sm mx-auto px-4 py-2 form" } do |f| %>
  <div class="border-b-2 border-teal-500 py-2">
    <% if todo_list_template.errors.any? %>
      <div class="error-message">
        <%= todo_list_template.errors.full_messages.to_sentence.capitalize %>
      </div>
    <% end %>

    <%= hidden_field_tag "todo_list_id", @todo_list.id %>
    <div class="block">
      <%= f.input :title, input_html: { class: "w-full text-gray-700 mr-3 py-1 px-2 leading-tight" } %>
    </div>
    <div class="block mb-6">
      <%= f.input :description, input_html: { class: "w-full text-gray-700 mr-3 py-1 px-2 leading-tight" } %>
    </div>

    <%= link_to "Cancel", todo_lists_path, class: "flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" %>
    <%= f.submit class: "flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" %>
  </div>
<% end %>
