<%= turbo_frame_tag todo_list do %>
  <h2><%= todo_list.title %></h2>
  <p><%= todo_list.description %></p>

  <div class="todo_list_actions">
    <%= button_to "Delete",
      todo_list_path(todo_list),
      method: :delete,
      class: "btn btn--light" %>
    <%= link_to "Edit",
      edit_todo_list_path(todo_list),
      class: "btn btn--light" %>
  </div>

  <div>
  </div>
  <%= turbo_frame_tag nested_dom_id(todo_list, ListSection.new) do %>
    <%= link_to "Add section",
      [:new, todo_list, :list_section],
      data: { turbo_frame: nested_dom_id(todo_list, ListSection.new) },
      class: "btn btn--primary" %>
  <% end %>


  <div style="padding-left: 2em;">
    <%= turbo_frame_tag nested_dom_id(todo_list, "list_sections") do %>
      <%= render todo_list.list_sections %>
    <% end %>
  </div>

  <hr/>
<% end %>
<%= turbo_stream_from "list_sections" %>
