<main class="container">

  <h1>ToDo Dashboard</h1>

  <%= turbo_frame_tag TodoList.new do %>
    <%= render partial: "new_list_link" %>
  <% end %>

  <%= turbo_frame_tag TodoList.new %>

  <%= turbo_stream_from "todo_lists" %>

  <%= turbo_frame_tag "todo_lists" do %>
    <%= render @todo_lists %>
  <% end %>
</main>
